:root {
    --main-bg-color: #000000;
    --secondary-color: #ffffff;
    --main-hover-color: #131313;
    --main-active-color: #404040;
    --main-text-color: #ffffff;
    --alt-text-color: #000000;
    --main-shadow-color: rgb(0, 0, 0);
    --main-font: Arial, Helvetica, sans-serif;
    --default-margins: 32px;
    --project-margin-right: 124px;
}

body {
    background-color: var(--main-bg-color);
    margin: 16vw;
    margin-top: 124px;
}

h1{
    font-family: var(--main-font);
    color: var(--main-text-color);
}
p{
    font-family: var(--main-font);
    color: var(--main-text-color);
    font-size: 16px;
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    margin-bottom: 48px;
}

li{
    float: left;
}

a{
    display: block;
    color: var(--alt-text-color);
    text-align: center;
    
    padding: 14px 16px;
    text-decoration: none;
    font-family: var(--main-font);
}

button:hover{
    background-color: var(--main-hover-color);
}

button:active{
    background-color: var(--main-active-color); 
}

.shadowEffect{
    box-shadow: 0px 5px 10px var(--main-shadow-color);
}

.shadowText{
    text-shadow: 0px 4px 5px rgb(200, 200, 200);
}

.centerText{
    text-align: center;
}

.padd16pxUp{
    padding-top: 16px;
}

.whiteTxt{
    color: var(--alt-text-color);
}

.marg0{
    margin: 0;
}

.wide{
    grid-column: span 2;
}

.spacer{
    width: 90%;
    background-color: var(--secondary-color);
    height: 2px;
    margin: 64px;
}

.fakeNavCircles{
    display: inline-block;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin: 4px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    transition: background-color 0.1s ease;
}

.darkModeCircle{
    display: inline-block;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 4px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    transition: background-color 0.1s ease;
}

.darkModeTxt{
    font-family: var(--main-font);
    color: var(--alt-text-color);
    font-weight: 800;
    margin: 0 8px;
    user-select: none;
}

.projectNr{
    font-size: 204px;
    font-weight: 50;
}

.counterButtons{
    font-size: 32px;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border: 2px solid var(--secondary-color);
}

.ticTacBtn{
    height: 72px;
    width: 72px;

    font-size: 48px;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-weight: 100;
    font-family: var(--main-font);
    transition: box-shadow 1s linear;
}

.blueShadow{
    box-shadow: 0px 0px 16px rgb(0, 0, 255);
}

.blueShadow.low{
    box-shadow: 0px 0px 4px rgb(0, 0, 255);
}

.redShadow{
    box-shadow: 0px 0px 16px rgb(255, 0, 0);
}

.redShadow.low{
    box-shadow: 0px 0px 4px rgb(255, 0, 0);
}

#darkModeToggle{
    position: fixed;
    bottom: 16px;
    left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: var(--main-font);
    color: var(--main-text-color);
    
    background-color: transparent;

    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    padding: 6px
}

#darkModeOff{
    display: none;
}

#signature{
    position: fixed;
    bottom: 16px;
    right: 32px;
    font-family: var(--main-font);
    color: var(--main-text-color);
    opacity: 0.5;
    user-select: none;
}

#mainNav{
    display: none;
    height: 48px;
    width: 100vw;
    margin-bottom: 24px;

    border-bottom: 2px solid var(--secondary-color);
    background-color: var(--main-bg-color);
    box-shadow: 0px 4px 8px rgb(0, 0, 0);
}

#mainNav p{
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 20px;
    padding: 14px 16px;
    margin: 0;
}

#containerBG{
    border: 2px solid var(--secondary-color);
    border-radius: 16px;
    padding-bottom: 32px;
}

#fakeNav{
    width: 100%;
    border-bottom: 2px solid var(--secondary-color);
    margin-bottom: 32px;
}

#fakeNavContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px;
}

#fakeNav1:hover{
    background-color: #FF5F57;
}
#fakeNav2:hover{
    background-color: #FFBD2E;
}
#fakeNav3:hover{
    background-color: #28C840;
}

#FirstHeader{
    text-align: right;
    font-weight: 200;
    margin: 84px;
    margin-right: var(--project-margin-right);
    margin-left: var(--project-margin-right);
}

#project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: var(--project-margin-right);
    margin-left: var(--project-margin-right);
}

#Test{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 48px;
}

#TestBtnDiv{
    display: flex;
}

#TestButton{
    margin-right: 12px;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    cursor: pointer;
    border: 2px solid var(--secondary-color);
}
#TestButton:hover{
    background-color: var(--main-hover-color);
}
#TestButton:active{
    background-color: var(--main-active-color);
}

#TestCircleDiv{
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 50%;
    background-color: var(--main-bg-color);
    border: 2px solid var(--secondary-color);
}

#CalculatorContainer{
    display: flex;
    justify-content: right;
    align-items: center;
}

#CalculatorBackground{
    display: grid;
    grid-template-rows: auto 1fr;
    width: 320px;

    padding: 36px;
    border-radius: 16px;

    border: 2px solid var(--secondary-color);
    background-color: var(--main-bg-color);
}

#CalculatorScreen{
    display: flex;
    width: 95%;
    height: 120px;

    text-align: right;
    font-size: 32px;
    color: var(--main-text-color);

    background-color: transparent;
    border: 0;

}

#CalculatorButtons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

    padding-top: 12px;
}

#CalculatorButtons button{
    height: 70px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    background-color: var(--main-bg-color);
    border: 2px solid var(--secondary-color);
    color: var(--main-text-color);
    cursor: pointer;
}
#CalculatorButtons button:hover{
    background-color: var(--main-hover-color);
}

#CalculatorButtons button:active{
    box-shadow: inset 2px 2px 6px var(--main-shadow-color);
}

#counterContainer{
    border: 2px solid var(--secondary-color);
    border-radius: 16px;
    padding: 12px
}

#counterNr{
    font-size: 64px;
    font-weight: 100;
    text-align: center;
    margin: 0;
}

#ticTacContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    border: 2px solid var(--secondary-color);
    border-radius: 16px;
    padding: 16px;
    transition: box-shadow .2s linear;
}

#ticTacResetBtn{
    width: 100%;

    margin-top: 16px;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 12px;

    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border: 2px solid var(--secondary-color);
}

#ticTacResetBtn:hover{
    background-color: var(--main-hover-color);
}

#ticTacResetBtn:active{
    background-color: var(--main-active-color);
}